
.jumbotron{
    background-color:yellow;
    color:black;
    margin-top: 50px;
}

.footer{
    background-color:yellow;
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;

}

.btn-reserva {
    heigth: 100%;
    width: 100%;
}
