@yellow: #fffa19;

.margenes(@top, @bottom){
    margin-top: @top;
    margin-bottom:@bottom;
}


.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px);
}

.footer {
  background-color: @yellow;
  padding: 10px 10px 0 10px;
  .margenes(10px, 0px);
}

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  .margenes(10px, 0px);

}

.btn-reserva {
  heigth: 100%;
  width: 100%; }
