.jumbotron {
  background-color: yellow;
  color: black;
  margin-top: 50px;
  margin-top: 50px;
  margin-bottom: 0px; }

.footer {
  background-color: yellow;
  padding: 10px 10px 0 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  heigth: 100%;
  width: 100%; }
